body {
  background-color: #DEA3AD;
}

h1 {
  font-family: "Arvo", black, italic;
  font-weight: bold;
}

.btn {
  margin: 10px 10px 10px 0px;
}
#Survey {
  font-family: "Rubik";
  font-size: 18px;
}
#Java {
  display: none;
  font-size: 30px;
  font-weight: bold;
}

#PhP {
  display: none;
  font-size: 30px;
  font-weight: bold;
}

#Front-end {
  display: none;
  font-size: 30px;
  font-weight: bold;
}
